<div class="box">
  <header class="head d-flex">
    <h1 class="title animate__animated animate__heartBeat">TOYATO </h1>
    <div class="main">
      
      <input type="text" placeholder="Search here">
     
      <button type="submit"> <i class="bi bi-search"></i></button>
    </div>
   
  </header>
  <div class="nav">
    <div class="dropdown">
      <a class="btn text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false"><i class="bi1 bi-credit-card-2-front"></i>
       Category
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item text-primary" routerLink="/actiongames">Action-Games & Toys</a></li>
        <li><a class="dropdown-item text-primary" href="#">Activity Kits & Toys</a></li>
        <li><a class="dropdown-item text-primary" href="#">Doll's & Playsets</a></li>
        <li><a class="dropdown-item text-primary" href="#">Music</a></li>
        <li><a class="dropdown-item text-primary " href="#">Games & Puzzles</a></li>
        <li><a class="dropdown-item text-primary" href="#">Soft Toys</a></li>
        <li><a class="dropdown-item text-primary" href="#">Action-Games & Toys</a></li>
        <li><a class="dropdown-item text-primary" href="#">Activity Kits & Toys</a></li>
        <li><a class="dropdown-item text-primary" href="#">Doll's & Playsets</a></li>
        <li><a class="dropdown-item text-primary" href="#">Music</a></li>
        <li><a class="dropdown-item text-primary" href="#">Games & Puzzles</a></li>
        <li><a class="dropdown-item text-primary" href="#">Soft Toys</a></li>

      </ul>
    </div>
    <div class="menu d-flex">
      <ul>
        <li><a  class="text text-light" routerLink="/" >Home</a></li>
      </ul>
      <ul>
        <li><a class="text text-light" routerLink="/sell">Sells-Author </a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="btn text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        AboutUs
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item text-primary" href="#">Contact</a></li>
        <li><a class="dropdown-item text-primary" href="#">Company</a></li>
        <li><a class="dropdown-item text-primary" href="#">Our Shop</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <a class="btn text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        Services
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item text-primary" href="#">Track ypur order</a></li>
        <li><a class="dropdown-item text-primary" href="#">Cash on delivery</a></li>
        <li><a class="dropdown-item text-primary" href="#">Phone-pay,google-pay,paytm,upId etc.</a></li>
      </ul>
    </div>
    <div class="login">

      <button class="log " routerLink="/signup">Signup</button>
      <button class="log" routerLink="/signin">Signin</button>
    </div>
  
    <ul class="list ">
      <li><a routerLink="/location"><i class="bi bi-geo-alt-fill text-primary "></i></a></li>
      <li><a routerLink="/wishlist"><i class="bi bi-heart text-light "></i></a></li>
      <li><a routerLink="/addtocart"><i class="bi bi-cart-plus text-light "></i></a></li>
      <li><a class="text text-light" routerLink="/blogs" >Blogs</a></li>
    </ul>
    
  </div>
</div>





