<div class="container-fluid vh-100 ">
    <div class="box vh-100">
        <div class="row-12" style="height: 100vh; background-color: rgb(169, 207, 247);">
        <div class="backgroungime bg-light">
            <p class="text text-liht">upload background image</p>
         <div class="profile">profile img uploade</div>   
        </div>
        </div>
        <div class="row-12">
        
        </div>
        <div class="row-12">
        
        </div>
        <div class="row-12">
        
        </div>
        <div class="row-12">
        
        </div>
    </div>
</div>
